PORT=3000
APP_NAME=zhijing-api
APP_PREFIX=api

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456
DB_NAME=zhijing_db
DB_SYNCHRONIZE=false
DB_LOGGING=false

JWT_SECRET=zhijing-secret-key
JWT_EXPIRES_IN=7d
